
# Ignorar arquivos do backend
backend/target/
backend/*.log
backend/*.class
backend/.mvn/wrapper/maven-wrapper.jar
backend/.DS_Store

# Ignorar arquivos do frontend
/node_modules/
/build/
/*.env

# Ignorar IDEs
.idea/
.vscode/